<div class="section is-small">
  <div class="box tile is-ancestor">
    <div class="tile">
      <figure class="image is4by3">
        <img src="https://bulma.io/images/placeholders/480x600.png" alt="Image">
      </figure>
    </div>
    <div class="tile is-parent is-vertical">
      <div class="tile is-child">
        <p class="title">Title</p>
        <p class="subtitle">Subtitle</p>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child">
          <p class="title is-4">Tech Used</p>
          <div class="tags are-medium">
            <span class="tag is-primary is-light is-rounded">Primary</span>
            <span class="tag is-link is-light is-rounded">Link</span>
            <span class="tag is-info is-light is-rounded">Info</span>
            <span class="tag is-success is-light is-rounded">Success</span>
            <span class="tag is-warning is-light is-rounded">Warning</span>
            <span class="tag is-danger is-light is-rounded">Danger</span>
          </div>
        </div>
        <div class="tile is-child box">
          <p class="title is-4">Client</p>
        </div>
      </div>
    </div>
  </div>
</div>
