<div class="section is-small">
  <div class="box tile is-ancestor">
    <div class="tile">
      <figure class="image is4by3">
        <img src="https://bulma.io/images/placeholders/480x600.png" alt="Image">
      </figure>
    </div>
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <div class="tile is-child">
          <p class="title">Title</p>
          <p class="subtitle">Subtitle</p>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child">
            <p class="title">One</p>
          </div>
          <div class="tile is-child">
            <p class="title">Two</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
